@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
/* font-family: 'Orbitron', sans-serif; */

/* reset */
*{margin: 0; padding: 0; list-style: none;}
ul{
    list-style: 0;
}
a{
    text-decoration: none; color: #222;
    outline: 0;
}
img{
    border: 0;
}
body{


    background-color: #111;
    font-family: 'Orbitron', sans-serif;
}

.wrap{
    position: fixed;
    width: 100%; height: 100%;
    perspective: 900px;     /* 원근법 */
}

/* 햄버거버튼 */
.btnMenu{
    position: fixed; left: 40px; top: 50px; z-index: 3;
    font-size: 40px; color: #fff;

    animation: ani 0.5s infinite alternate;
}
@keyframes ani{
    0%{opacity: 1; color: #fff; transform: scale(1);}
    100%{opacity: 0.8; color: #888; transform: scale(1.5);}
}

/* 네비게이션 */
nav{
    width: 150px; height: 100%;
    position: fixed; left: 0; top: 0;
    background: #eee;
    

    /* ******* */
    transform: rotateY(120deg);
    transform-origin: left center;
    opacity: 0;
    transition: all 0.5s;
}
nav.on{
    transform: rotateY(15deg);
    opacity: 1;
    z-index: 1;
}

nav>.close{
    font-size: 40px;
    position: fixed;
    left: 30px;
    top: 50px;
    transition: all 0.5s;
}
nav>.close:hover{transform: scale(1.2);}
nav>h1{
    width: 150px;
    margin: 120px auto 50px;
}
nav>h1>img{
    width: 150px; height: 150px;
}
/* nav>ul{position: absolute; top: 35%; left: 0;} */
nav>ul>li{
    text-align: center;
    margin-top: 50px;
}
nav>ul>li>a{
    display: block;
    height: 30px; line-height: 30px;
}
nav>ul>li>a:hover{
    background: #333;
    color: #fff;
}

/* 색션 */
section{
    position: fixed;
    width: 100%; height: 100%;
    background-color: #555;

    /* ******* */
    /* transform: rotateY(-10deg); */
    transform-origin: right center;
    transition: all 0.5s;
    /* transition: none; */
}
section.on{
    transform: rotateY(-10deg);
}

section>article{
    position: absolute;
    width: 100%; height: 100%;
    opacity: 0;

    /* 튕기는 현상 완화 */
    perspective: 700px;
    transition: all 1.5s;
}
section>article.on{
    z-index: 2;
    opacity: 1;
}
section>article>p{
    transform: rotateY(180deg);
    transition: all 1.5s;
}
section>article.on>p{
    transform: rotateY(0deg);
}
section>article>p>span{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
section>article>p>strong{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
section>article>p>em{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
section>article>p>em>a>i{
    color: #aaa;
    margin-top: 25%;
    /* padding: 50px; */
}
section>article>p>em>a>i:hover{color: #ddd;}


/* box1 */
.box1>p{
    position: relative;
    width: 25%; height: 25%;
    float: left;
    text-align: center;
    color: #fff;
}
.box1>p:nth-child(1){
    width: 50%; height: 25%;
    background-color: #333;
}
.box1>p:nth-child(2){
    background: url(../img/m1.jpg) no-repeat center;
    background-size: cover;
}
.box1>p:nth-child(3){
    background-color: #444;
    font-size: 30px;
}
.box1>p:nth-child(4){
    float: right;
    width: 50%; height: 50%;
    background: url(../img/m2.jpg) no-repeat center;
    background-size: cover;
}
.box1>p:nth-child(5){
    float: right;
    width: 25%; height: 25%;
    background: url(../img/m3.jpg) no-repeat center;
    background-size: cover;
}
.box1>p:nth-child(6){
    width: 25%; height: 25%;
    background-color: #999;
}
.box1>p:nth-child(7){
    float: right;
    width: 25%; height: 25%;
    background: url(../img/m4.jpg) no-repeat center;
    background-size: cover;
}
.box1>p:nth-child(8){
    float: right;
    width: 25%; height: 25%;
    background: url(../img/m5.jpg) no-repeat center;
    background-size: cover;
}
.box1>p:nth-child(9){
    background-color: #555;
}
.box1>p:nth-child(10){
    width: 50%; height: 25%;
    background: url(../img/m6.jpg) no-repeat center;
    background-size: cover;
}
.box1>p:nth-child(11){
    width: 25%; height: 25%;
    background-color: #333;
}


.box2>p{
    position: relative;
    width: 25%; height: 25%;
    float: left;
    text-align: center;
    color: #fff;
}
.box2>p:nth-child(1){
    background-color: #333;
}
.box2>p:nth-child(2){
    background: url(../img/a1.jpg) no-repeat center;
    background-size: cover;
}
.box2>p:nth-child(3){
    width: 50%; height: 25%;
    background-color: #333;
}
.box2>p:nth-child(4){
    width: 25%; height: 50%;
    background: url(../img/a2.jpg) no-repeat center;
    background-size: cover;
}
.box2>p:nth-child(5){
    width: 50%; height: 50%;
    background: url(../img/a3.jpg) no-repeat center;
    background-size: cover;
}
.box2>p:nth-child(6){
    background: url(../img/a4.jpg) no-repeat center;
    background-size: cover;
}
.box2>p:nth-child(7){
    background-color: #333;
}
.box2>p:nth-child(8){
    background: url(../img/a5.jpg) no-repeat center;
    background-size: cover;
}
.box2>p:nth-child(9){
    background-color: #333;
}
.box2>p:nth-child(10){
    background: url(../img/a6.jpg) no-repeat center;
    background-size: cover;
}
.box2>p:nth-child(11){
    background: url(../img/a7.jpg) no-repeat center;
    background-size: cover;
}


.box3>p{
    position: relative;
    width: 25%; height: 25%;
    float: left;
    text-align: center;
    color: #fff;
}
.box3>p:nth-child(1){
    width: 50%; height: 100%;
    background: url(../img/f1.jpg) no-repeat center;
    background-size: cover;
}
.box3>p:nth-child(2){
    background-color: #555;
}
.box3>p:nth-child(3){
    background: url(../img/f2.jpg) no-repeat center;
    background-size: cover;
}
.box3>p:nth-child(4){
    width: 50%;
    background-color: #222;
}
.box3>p:nth-child(5){
    height: 50%;
    background: url(../img/f3.jpg) no-repeat center;
    background-size: cover;
}
.box3>p:nth-child(6){
    background-color: #999;
}
.box3>p:nth-child(7){
    background: url(../img/f4.jpg) no-repeat center;
    background-size: cover;
}