.loading_wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 999;
}

.box_wrap {
    width: 30%;
    height: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.rect {
    border: 2px dashed #e9e9e9;
    position: absolute;
    left: 47%;
    top: 33%;
    transform: translate(-50%, -50%);
    animation: loading 2s infinite;
}

.rect1 {
    width: 50px;
    height: 50px;
    transform: rotate(0deg);
}

.rect2 {
    width: 80px;
    height: 80px;
    transform: rotate(30deg);
}

.rect3 {
    width: 110px;
    height: 110px;
    transform: rotate(60deg);
}

.rect4 {
    width: 140px;
    height: 140px;
    transform: rotate(90deg);
}



.loading_text {
    color: white;
    position: absolute;
    bottom: 38%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    min-width: 300px;
    text-align: center;
}

@keyframes loading {
    from {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(100deg)
    }

    65% {
        transform: rotate(200eg)
    }

    75% {
        transform: rotate(280eg)
    }

    to {
        transform: rotate(360deg)
    }
}

@media only screen and (max-width: 1023px) {

    .loading_text {
        font-size:14px;
        bottom: 36%;
    }
    .rect {
        left: 44%;
         top: 38%;
    }
    
    .rect1 {
        width: 50px;
        height: 50px;
    }
    
    .rect2 {
        width: 80px;
        height: 80px;
        transform: rotate(30deg);
    }
    
    .rect3 {
        width: 110px;
        height:110px;
        transform: rotate(60deg);
    }
    
    .rect4 {
        width: 140px;
        height: 140px;
        transform: rotate(90deg);
    }
}
@media handheld, only screen and (max-width: 767px) {
    .loading_text {
        font-size:11px;
        bottom: 36%;
    }
    .rect {
        left: 38%;
        top: 36%;
    }
    
    .rect1 {
        width: 30px;
        height: 30px;
    }
    
    .rect2 {
        width: 50px;
        height: 50px;
        transform: rotate(30deg);
    }
    
    .rect3 {
        width: 80px;
        height: 80px;
        transform: rotate(60deg);
    }
    
    .rect4 {
        width: 110px;
        height: 110px;
        transform: rotate(90deg);
    }
}