.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
    width:60%;
    margin:0 auto;
  }
  
  .single-chart {
    width: 33%;
    justify-content: space-around ;
    transition:all 0.5s;
  }
  .single-chart:hover {
   transform: scale(1.1);
  }
 
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    /* fill: white;
    stroke: white; */
    stroke-width: 3.8;
    fill: none;
    stroke: #eee;
  }
  
  .circle {
    fill: none;
    stroke-width: 3.4px;
    stroke-linecap: round;
  }
  .circle_animation{
    animation: progress 2s ease-out forwards;
  }
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.html .circle {
    /* stroke: #ff9f00; */
    stroke: #f89520;
  }
  
  .circular-chart.css .circle {
    /* stroke: #4CC790; */
    stroke: #339dc2;
  }
  
  .circular-chart.js .circle {
    /* stroke: #3c9ee5; */
    stroke: #e5c745;
  }
  .circular-chart.PsAi .circle {
    /* stroke: #c73323; */
    stroke: #92c267;
  }
  
  .circular-chart.git .circle {
    /* stroke: #d1b32c; */
    stroke: #7e72af;
  }
  
  .circular-chart.oa .circle {
    /* stroke: #8a3e71; */
    stroke: #c35c6f;
  }
  
  .percentage {
    fill: #000000;
    font-family: sans-serif;
    font-size: 0.2em;
    text-anchor: middle;
    font-weight:bold;
  }
  .circle_percent{
      text-align: center;
  }