.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
    width:60%;
    margin:0 auto;
  }
  
  .single-chart {
    width: 33%;
    justify-content: space-around ;
    transition:all 0.5s;
  }
  .single-chart:hover {
   transform: scale(1.1);
  }
 
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }
  
  .circle-bg {
    fill: white;
    stroke: white;
    stroke-width: 3.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 3.4px;
    stroke-linecap: round;
  }
  .circle_animation{
    animation: progress 2s ease-out forwards;
  }
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }
  
  .circular-chart.green .circle {
    stroke: #4CC790;
  }
  
  .circular-chart.blue .circle {
    stroke: #3c9ee5;
  }
  .circular-chart.red .circle {
    stroke: #c73323;
  }
  
  .circular-chart.yellow .circle {
    stroke: #d1b32c;
  }
  
  .circular-chart.purple .circle {
    stroke: #8a3e71;
  }
  
  .percentage {
    fill: #000000;
    font-family: sans-serif;
    font-size: 0.2em;
    text-anchor: middle;
    font-weight:bold;
  }
  .circle_percent{
      text-align: center;
  }